html {
    font-size: 16px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: white;
    background-color: black;
}

body {
    width: calc(100vw - 50px);
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid white;
}

h1 {
    font-size: 4rem;
    margin: 0;
    padding: 20px 0;
    text-shadow: -3px 3px 1px gray;
}

p,
li {
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

button {
    background: none;
    cursor: pointer;
    color: white;
    border: none;
}